html {
  min-width: 320px; /* based on a low threshold of widths of smart phones */
  max-width: 640px; /* a round number by design */
  margin: 0 auto;
}

body {
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  color: #222;
  background-image: url(folk-pattern.png);
  background-attachment: fixed;
  /* this max-width = html max-width - 2 * (this margin) = 640 - 2*8 */
}

header {
  background-color: lavender;
  padding: 4px 4px 0 4px;
}
header > h2 {
  margin: 0;
  padding-bottom: 5px; /* for symmetry with nav items */
  border-bottom: 1px solid grey;
}

nav {
  background-color: lavender;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
nav > h2 {
  margin: 4px;
  border: 1px solid transparent; /* = ... rgba(230,230,250,0); */
  padding: 0 4px;
}
/* An invisible border is defined here so affected element heights do not change
   when visible border appears to indicate a selected element.  This invisible
   border causes the initial vertical margins to be 5px. The 'header > h2'
   padding-bottom is defined to match this margin. This favors vertical spacing
   symmetry between 'header > h2' and unselected 'nav > h2', about 'header > h2'
   boder-bottom. When a 1st-row nav item is selected, the majority of the
   horizontal space taken by 'header > h2' border-bottom will exclude
   'nav > .selected' even with standard small-width screens. */
nav > h2:hover {
  cursor: pointer;
  background-color: azure;
  color: darkgoldenrod;
}
nav > .selected {
  background-color: lightgrey;
  border: 1px solid black;
}

main {
  visibility: hidden;
}
main > h1 > .profile-name-title {
  background-color: azure;
  color: darkgoldenrod;
}

.image-frame {
  /* html min-width - 2*(body margin_x = 8px) = 304px
                                  = body min-width = big-tile min-width */
  height: 500px;
  background-color: lightgrey;
  margin: 16px auto;
  overflow: hidden;
}
.image-frame > .image {
  width: calc(100% - 8px); /* (image-frame) - 2*(this margin_x) */
  height: 80%; /* = 400 px */
  background-position: center; /* to view desired responsive range of image */
  background-size: cover;
  background-color: grey; /* background image fallback graphics */
  margin: 4px 4px 0 4px; /* 0 bottom to help simplify text centering below */
}
.image-frame > .click-count-label {
  height: 96px; /* (500 - image height) - image margin = 100 - 4 */
  line-height: 92px; /* to center text vertically in element */
  margin: 0;
}

@media screen and (max-width: 560px) {
  .image-frame > .click-count-label {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 480px) {
  .image-frame > .click-count-label {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 400px) {
  .image-frame > .click-count-label {
    font-size: 1.1em;
  }
}

.edit-image-button {
  text-align: left;
}
.edit-image-button > h2 {
  /* Display inline-block to have background-color bound to text 'footprint'. */
  display: inline-block;
  background-color: lavender;
  margin: 0;
}
.edit-image-button > h2 > span {
  /* Display inline-block to prevent margin collapsing. */
  display: inline-block;
  margin: 4px;
  border: 1px solid transparent;
  /* Pad left and right with 4px so that majority of spacing between span text
     and h2 is similar. Otherwise, horizontal highlight spacing appears
     thinner. */
  padding: 0 4px;
}
.edit-image-button > h2 > span:hover {
  background-color: azure;
  color: darkgoldenrod;
  cursor: pointer;
}

.alert-message-frame {
  background-color: yellow;
  margin: 16px 0;
  text-align: left;
}
.alert-message-frame > h3 {
  display: inline-block;
  margin: 9px; /* to left align with edit image button text */
}

.image-edit-frame {
  background-color: lavender;
  visibility: hidden;
}
.image-edit-frame > form {
  margin: 16px 0;
  text-align: left;
}
.image-edit-frame > form > label {
  display: inline-block;
  margin: 8px 8px 0 8px;
  width: 128px;
  text-align: right;
}
.image-edit-frame > form > input {
  margin: 8px;
  font-family: "lucida console", monospace;
  font-size: 1em;
}
.image-edit-frame > form > textarea {
  width: 70%;
  margin: 8px;
  vertical-align: top;
  font-family: "lucida console", monospace;
  font-size: 1em;
}
@media screen and (max-width: 569px) {
  .image-edit-frame > form > textarea {
    width: 90%;
  }
}
.image-edit-frame > form > button {
  margin: 8px;
  font-family: inherit;
  font-size: 1em;
  border: 1px solid grey;
  background-color: gainsboro;
}
.image-edit-frame > form > .save-button:hover {
  cursor: pointer;
  background-color: lightblue;
  border: 1px solid blue;
}
.image-edit-frame > form > .cancel-button:hover {
  cursor: pointer;
  background-color: lightsalmon;
  border: 1px solid crimson;
}
